<style>
  .pagination ::ng-deep .ngx-pagination .current {
    background: red;
  }
</style>
<main>
  <h1>{{ title }}</h1>
  <input
    type="search"
    placeholder="Start typing to search..."
    (keyup)="onSearchRepositories($event)"
    autofocus
  />

  <article>
    <section
      *ngFor="
        let repo of paginationElements
          | paginate: { itemsPerPage: 12, currentPage: page }
      "
    >
      <div>
        <h2>➞ {{ repo.name }}</h2>
        <a [href]="repo.html_url" target="_blank">
          <p>{{ repo.description }}</p>
        </a>
        <p><b>Stars:</b> {{ repo.stargazers_count }}</p>
        <p><b>Created At:</b> {{ repo.created_at | date }}</p>
        <p><b>GitHub User:</b> {{ repo.owner.login }}</p>
        <a [href]="repo.html_url" target="_blank">
          <img
            [src]="repo.owner.avatar_url"
            alt="{{ repo.owner.login }}'s avatar"
          />
        </a>
      </div>
    </section>
  </article>
  <pagination-controls
    class="pagination"
    *ngIf="(repositories$ | async)?.length"
    (pageChange)="page = $event"
  ></pagination-controls>
</main>
<ng-progress id="progressBar" [color]="redColor" [spinner]="true"></ng-progress>
